<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registro exitoso</title>
  <link rel="stylesheet" href="../styles/styles.css" />
</head>
<body>
  <div class="main_container">
    <div class="login_container">
      <h1>Registro exitoso</h1>
      <p>Tu cuenta fue creada correctamente.</p>
      <br />
      <button type="submit" class="login_btn" onclick="location.href='login.html'">Ir a Iniciar Sesión</button>
  </div>
</body>
</html>
