body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.edit-link {
    font-size: 18px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.edit-link:link {
    color: white;
}

.edit-link:visited {
    color: white;
}

.edit-link:hover {
    color: #b300ff; 
}

.edit-link:active {
    color: white;
}


.container {
    width: 95%;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
}

table th {
    background: #007bff;
    color: white;
    padding: 18px;
    font-size: 18px;
    text-align: left;
}

table td {
    background: #e9ecef;
    padding: 18px;
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background: #28a745;
}

.table-actions .edit-link {
    font-size: 18px;
    color: white !important;
    text-decoration: underline;
    cursor: pointer;
}

.table-actions .edit-link:visited {
    color: white !important;
}

.table-actions .edit-link:hover {
    color: #b300ff !important; 
}

.table-actions .edit-link:active {
    color: white !important;
}



